* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .navbar {
  background-color: #424dab !important;
}

.logo {
  max-height: 50px;
}

.logo:active {
  background: #fff;
}

.container .navbar .nav-link {
  color: white !important; 
}

.main-cointainer {
  display: grid;
  grid-template-areas:  "menu-lateral conteudo menu-direito"
                        "menu-lateral conteudo menu-direito"
                        "menu-lateral conteudo menu-direito"
                        "menu-lateral conteudo menu-direito"
                        "menu-lateral sobre menu-direito";
}

.main-cointainer .menu-lateral {
  background-color: #ddd;
  padding: 10px 20px;
  grid-area: menu-lateral;
  text-align: center;
}

.main-cointainer .menu-lateral li {
  margin-bottom: 10px;
  list-style: none;
  justify-content: center;
  text-align: center;
}

.main-cointainer .menu-direito {
  background-color: #ddd;
  grid-area: menu-direito;
  text-align: center;
}

.main-cointainer .menu-direito li {
  margin-bottom: 10px;
  list-style: none;
  justify-content: center;
  text-align: center;
}

.conteudo {
  display: flex;
  grid-area: conteudo;
}

.news {
  padding: 10px 20px;
}

.sobre {
  padding: 20px;
  grid-area: sobre;
}

.parecidos {
  display: flex;
  padding: 30px 20px;
  justify-content: center;
  text-align: center;  
}

.parecidos h3 {
  margin-bottom: 40px;
}